<div class="content">

    <div class="fila">
  
      <ng-container *ngFor="let producto of productos; let i = index">
        <div class="card" style="width: 18rem;">
          <img [src]="producto.imagen" class="card-img-top" [alt]="producto.titulo">
          <div class="card-body">
            <h5 class="card-title">{{producto.titulo}}</h5>
            <p class="card-text">{{producto.descripcion}}</p>
            <a routerLink="productos/:id" class="btn btn-primary">Ir al producto</a>
          </div>
        </div>
      </ng-container>
  
    </div>
  
  </div>