<div class="container">
    <div class="row">
        <h3>Agregar producto</h3>
        <form (ngSubmit)="save()">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <label>Nombre *</label>
                    <input type="text" class="form-control" placeholder="Nombre" name="title" [(ngModel)]="product.title" required>
                </div>
                <div class="col-lg-6 col-md-12">
                    <label>Proveedor *</label>
                    <select class="form-select" name="supplier" [(ngModel)]="product.idSupplier" required>
                        <option *ngFor="let supplier of suppliers" value="{{supplier._id}}">{{supplier.name}}</option>
                    </select>
                </div>
              </div>

              <div class="row mt-3">
                <div class="col-lg-4 col-md-12">
                    <label>Precio *</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">$</span>
                        <input type="text" class="form-control" placeholder="Precio" name="price" [(ngModel)]="product.price" required>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12">
                    <label>Imagen *</label>
                    <input type="text" class="form-control" placeholder="Link de la imagen" name="image" [(ngModel)]="product.image" required>
                </div>
              </div>

              <div class="row">
                  <div class="col-12">
                    <label class="form-label">Descripción del producto</label>
                    <textarea class="form-control" rows="3" name="description" [(ngModel)]="product.description"></textarea>
                  </div>
              </div>
              <div class="alert alert-danger my-3" role="alert" *ngIf="required">
                Complete los campos obligatorios (*)
              </div>
              <button class="btn btn-outline-warning mt-3 me-1" (click)="cancel()">Cancelar</button>
              <button class="btn btn-outline-success mt-3" type="submit">Agregar producto</button>
        </form>
    </div>
</div>