<div class="container" *ngIf="!product"><h1 class="text-center">No se pudo obtener (o no existe) el producto solicitado</h1></div>

<div class="container" *ngIf="product">
    <div class="fila">
        <div class="col-left">
            <img [src]="product.image" [alt]="product.title">
        </div>
        <div class="col-right">
            <h1>{{product.title}}</h1>
            <p>{{product.description}}</p>
            <p>{{product.price | currency}}</p>
            <div class="row">
                <button class="btn btn-outline-warning btn-" (click)="updateProduct()">Editar</button>
                <button class="btn btn-outline-danger my-1" (click)="deleteProduct()">Eliminar</button>
            </div>
        </div>
        <button class="btn btn-primary mt-1" routerLink="/products">Volver</button>
        
    </div>
</div>