.content{
    width: 80%;
    margin: auto;
}

// .fila{
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-around;
// }

.fila{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    grid-gap: 20px;
}

.fila > div{
    padding: 0;
}

.card{
    margin-bottom: 3%;
}

@media screen and (max-width: 1400px){
    .fila{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1200px){
    .fila{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 767px){
    .fila{
        grid-template-columns: 1fr;
    }
}